/********************************************* ROOT-CSS *********************************************/

* {
  text-decoration: none !important;
  list-style: none !important;
  font-family: Poppins;
}
*:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
:root {
  --purple: #ffff00;
  --lesspurple: #8755f246;
  --dark: #0f0f0f;
  --lessdark: #0f0f0fa1;
  --grey: #191919;
}
.absolute {
  position: absolute;
  top: 500%;
}
::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth !important;
}
body {
}
.fw-lighta {
  font-family: calibri light !important;
  letter-spacing: 2px;
}
.specific {
  height: 100vh !important;
  overflow: hidden !important;
}
/********************************************* COLORS-CSS *********************************************/
.muted {
  color: #777d74 !important;
}
/*Black*/

.bg-blacks {
  background-color: var(--dark) !important;
}
.bg-blackless {
  background-color: var(--lessdark) !important;
}
.border-blacks {
  border: 1px solid var(--dark) !important;
}
.border-blackless {
  border: 1px solid var(--lessdark) !important;
}
.text-blacks {
  color: var(--dark) !important;
}
.text-blackless {
  color: var(--lessdark) !important;
}

/*Purple*/

.bg-purple {
  background-color: var(--purple) !important;
}
.bg-purpleless {
  background-color: var(--lesspurple) !important;
}
.border-purple {
  border: 1px solid var(--purple) !important;
}
.border-purpleless {
  border: 1px solid var(--lesspurple) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-purpleless {
  color: var(--lesspurple) !important;
}

/********************************************* BODY-CSS *********************************************/

body {
  background-color: var(--grey) !important;
}

/********************************************* NAVBAR-CSS *********************************************/

.mynavbar {
  transition: 1s ease;
}
.mynavbarimg {
  width: 2.7rem !important;
  height: 100% !important;
}
.mynavbar i {
  transition: 0.2s ease;
}
.mynavbar li {
  transition: 0.3s ease;
}
.mynavbar li:hover {
  color: var(--purple) !important;
}
.setwi {
  width: 2vw;
}

@media screen and (max-width: 1100px) {
  .mynavbarimg {
    width: 2.3rem !important;
    height: 100% !important;
  }
}

/********************************************* MAIN-CONTENT-CSS *********************************************/

.mycarousel {
  width: 100%;
  height: 100vh !important;
}
.mycarousel .imgcar {
  height: 100vh !important;
  background-color: red;
}

.legend {
  position: absolute;
  bottom: unset !important;
  top: 35%;
  left: 0% !important;
  margin-left: 0% !important;
  background: transparent !important;
  width: 100% !important;
  text-align: start !important;
  opacity: 100% !important;
}
.legend .fw-lighter {
  font-size: 30px;
  font-family: calibri light !important;
  letter-spacing: 2px;
}
.legend .display-1 {
  font-size: 100px !important;
  font-weight: 900 !important;
  letter-spacing: 2px;
}
.legend i {
  font-size: 20px;
}
.mask {
  width: 100% !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.561);
  position: absolute;
  top: 0;
}
@media screen and (max-width: 900px) {
  .legend .fw-lighter {
    font-size: 16px !important;
  }
  .legend .display-1 {
    font-size: 13vw !important;
  }
  .legend i {
    font-size: 10px;
  }
  .mycarousel {
    width: 100%;
    height: 80vh !important;
  }
  .mycarousel .imgcar {
    height: 80vh !important;
    background-color: red;
  }
  .mask {
    width: 100% !important;
    height: 80vh !important;
  }
}
.checker {
  transform: translateY(-100px);
}
